@model PagedList.IPagedList<Bai8_LinQ_EntityFrameWork.Models.Product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" type="text/css"/> ;
      @{ ViewBag.Title = "Index"; }

<h2>Danh sách hàng</h2>
@using (Html.BeginForm())
{
    <p>
        Tìm mặt hàng: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Mã hàng
        </th>
        <th>
            @Html.ActionLink("Tên hàng", "Index", new { sortOrder = ViewBag.SapXepTheoTen, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Giá", "Index", new { sortOrder = ViewBag.SapXepTheoGia, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Hình ảnh
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @{
                    string ImagePath = "~/wwwroot/WineImages/" + item.Image;
                }
                <img src="@Url.Content(ImagePath)" width="100" class="img-thumbnail" />
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
            </td>
        </tr>
    }

</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder = ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))