@model Bai4_ViDu_HKH.Models.Employee
@{
    ViewBag.Title = "CalSalaryV1";
}

<h2>CalSalaryV1</h2>
<li>Id: @Model.id</li>
<li>Name: @Model.name</li>
<li>Amount: @Model.amount</li>
<li>Salary: @Model.salary</li>
<li>Bonus: @Model.bonus</li>
<li>Total: @Model.total</li>

