
@{
    ViewBag.Title = "Xuat";
    Layout = "~/Views/Shared/_View.cshtml";
}

<p>Họ tên: @ViewBag.firstname @ViewBag.lastname</p>
<p>Giới tính: @ViewBag.gender</p>
<p>Năm sinh: @ViewBag.year</p>
<p>Tháng sinh: @ViewBag.month</p>
<p>Sở thích: @ViewBag.hobby</p>
<p>Lương: @ViewBag.salary</p>
<p>Số ngày làm việc: @ViewBag.number</p>
<p>Lương thực: @ViewBag.luongthuc</p>

