
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student Detail</title>
</head>
<body>
    <div> 
        @*<ul>
            <li>Id: @ViewBag.Id</li>
            <li>Name: @ViewBag.Name</li>
            <li>Marks: @ViewBag.Marks</li>
        </ul>*@
        <ul>
            <li>id: @Model.Id</li>
            <li>name: @Model.Name</li>
            <li>marks: @Model.Marks</li>
        </ul>
    </div>
</body>
</html>
