
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<style>
    #dvPreview1 {
        width: 100px;
        height: 100px;
    }
</style>
<body>
    <div> 
        <h2>STAFF INFORMATION</h2>
        <form method="post" name="f1" action="" enctype="multipart/form-data">
            Staff id: <br /> <input type="text" name="txtId" value="@ViewBag.id" /> <br />
            Staff name: <br /> <input type="text" name="txtName" value="@ViewBag.name" /> <br />
            Date of Birth: <br /> <input type="date" name="txtDate" value="@ViewBag.birthday" /> <br />
            Salary: <br /> <input type="text" name="txtSalary" value="@ViewBag.salary" /> <br />
            Image: <div>
                <input type="file" name="myfileImage" /> <hr />
                <b>Live Preview</b> <br />
                <img src="@ViewBag.image" id="dvPreview1" />
            </div>
            <input type="submit" value="Save" formaction="/staff/savev2" />
            <input type="submit" value="Open" formaction="/staff/openv2" />
            <h3>@ViewBag.message</h3>
        </form>
    </div>
</body>
</html>
